h1{
	padding-left: 750px;
}

h2{
	padding-left: 850px;
}

button{
	width: 200px;
	height: 300px;
}

#employer{
	margin-left: 750px;
	background-image: url("employer.jpg");
}

#student{
	background-image: url("student.jpg");
}
